body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
}

.text {
    color: #dadada!important;
}

#overlay {
    background: radial-gradient(rgba(0,13,30,.75) 300px,rgba(0,0,0,.75));
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#starfield {
    width: 100%;
    height: 100%;
    position: absolute;
}

#user-panel, #skin-panel {
    display: none;
}

.skin-preview {
    width: 100%;
    height: 100%;
    max-width: 512px;
    max-height: 512px;
    border-radius: 50%;
}

.skin-empty {
    opacity: 0.1;
}

.card {
    box-shadow: 0 0 4px 2px #000;
    border-radius: 4px;
    background-color: #172535;
    transition: box-shadow .5s;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.btn:disabled {
    cursor: auto;
    transition: none;
    color: #b3b3b3;
    background: #6a4309;
}

.btn:hover {
    background: #99610d!important;
    transition: all .15s ease;
}

.btn {
    background: #b1700f!important;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 5px;
    color: #dadada;
    box-shadow: 0 0 1px 1px #000;
    border-radius: 4px;
    font-size: 16px;
    text-shadow: 1px 1px 2px #000;
}

.danger {
    background-color: rgb(190, 0, 0)!important;
}

.danger:hover {
    background-color: rgb(151, 0, 0)!important;
    transition: all .15s ease;
}

.danger:disabled {
    background-color: rgb(73, 73, 73);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 0px;
}

.pointer {
    cursor: pointer!important;
}