:root {
    --background-color: rgba(0,13,30,.75);
    --card--color: #172535;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.text {
    color: #dadada!important;
}

#overlay {
    background: radial-gradient(var(--background-color),300px,rgba(0,0,0,.75));
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#starfield {
    width: 100%;
    height: 100%;
    position: absolute;
}

#user-panel, #skin-panel {
    display: none;
}

#skin-panel {
    overflow-y: scroll;
}

.skin-preview {
    width: 100%;
    height: 100%;
    max-width: 512px;
    max-height: 512px;
    border-radius: 50%;
}

.skin-empty {
    opacity: 0.1;
}

.card, .swal2-modal {
    box-shadow: 0 0 4px 2px #000;
    border-radius: 4px;
    background-color: var(--card--color);
}

.padding-s {
    padding: 25%;
}

.btn:disabled {
    cursor: auto;
    transition: none;
    color: #b3b3b3;
    background: #6a4309;
}

.btn:hover {
    background: #99610d!important;
    transition: all .15s ease;
}

.info {
    stroke-width: 2px;
    cursor: pointer;
    color: #99610d!important;
}

.uk-checkbox:checked {
   background-color: #b1700f!important; 
}

.uk-checkbox:focus, .uk-radio:focus {
   border-color: #b1700f!important; 
}

.info:hover {
   color: #b1700f!important; 
}

.btn {
    background: #b1700f!important;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 10px;
    color: #dadada;
    box-shadow: 0 0 1px 1px #000;
    border-radius: 4px;
    font-size: 16px;
    text-shadow: 1px 1px 2px #000;
}

.danger {
    background-color: rgb(190, 0, 0)!important;
}

.danger:hover {
    background-color: rgb(151, 0, 0)!important;
    transition: all .15s ease;
}

.danger:disabled {
    background-color: rgb(73, 73, 73);
}

.skin-upload, .skin-edit, .toggle-public {
    color: #b1700f!important;
    margin-bottom: 10px;
}

.skin-upload:hover, .skin-edit:hover, .toggle-public:hover {
    color: #99610d!important;
}

.skin-delete {
    color: rgb(245, 92, 92)!important;
}

.skin-delete:hover {
    color: rgb(185, 45, 45)!important;
}

.skin-link {
    color: rgb(100, 149, 194)!important;
    margin-bottom: 10px;
}

.skin-link:hover {
    color: rgb(40, 89, 134)!important;
}

#copy {
    opacity: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 8px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 8px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

::-webkit-scrollbar {
    width: 0px;
}

.pointer {
    cursor: pointer!important;
}

.uk-tab>.uk-active>a {
    color: white;
    font-weight: bold;
    border-color: #b1700f;
}

.uk-tab>*>a {
    font-size: 16px;
}

.uk-tab::before {
    border-bottom: 0px;
}

.button-group {
    min-width: 150px;
}


.danger-text {
    color: rgba(190, 0, 0, 0.8)!important;
}

.danger-text:hover {
    color: rgb(190, 0, 0)!important;
}