# CLI logs
cli/logs
cli/log-config.json

# Test logs
test/logs
test/log-config.json

# Skins
skins/*
!skins/40[1-9].png
!skins/vanis[1-9].png

pending_skins/*
!pending_skins/404.png

# legacy jpg
*.jpg

# Update bash script
*.bat

# NPM
node_modules
package-lock.json

# JS config
jsconfig.json
