# CLI logs
cli/logs
# Test logs
test/logs
# Process logs
processes/logs/*

# Unix sockets
sockets/*

# configs
*-config.json

# Ignore bundled js
bundle.js*

# Skins
skins/*
!skins/40[1-9].png
!skins/vanis[1-9].png

pending_skins/*
!pending_skins/404.png

deleted_skins/*
!deleted_skins/404.png

# legacy jpg
*.jpg

# Update bash script
*.bat

# NPM
node_modules
package-lock.json

# JS config
jsconfig.json
