# CLI logs
cli/logs
cli/log-config.json

# Test logs
test/logs
test/log-config.json

# Skins
skins/
!skins/404.png
!skins/vanis1.png

pending_skins/
!pending_skins/404.png

# legacy jpg
*.jpg

# NPM
node_modules
package-lock.json

# JS config
jsconfig.json
